{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "eqeqeq": 2,
        "semi": 2,
        "space-infix-ops": 2,
        "space-in-parens": 2,
        "no-extra-semi": 0,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 2,

        // react extras
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    },
    "plugins": [
        "react"
    ]
}